/**
 * Created by abondar on 11/11/16.
 */
body {
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 20px 30px;
    background-color: #aaaccc;
}

footer {
    text-align: center;
}

.logo {
    font-size: 20px;
}

.bucketContainer {
    position: absolute;
    right: 30px;
    top: 20px;
}

.container {
    height: calc(100vh - 121px);
    overflow: auto;
}

.list {
    width: 100%;
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
}

.list-item {
    width: 29%;
    list-style: none;
    padding-bottom: 100%;
    display: inline-block;
    padding: 0 2%;
    text-align: center;
}

.list-item img {
    width: 100%;
}

.list-item > * {
    margin-bottom: 5px;
}

button {
    padding: 6px 10px;
    background-color: #00aacc;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}
